<!DOCTYPE html>
<html ng-app>
<head>
  <script src="../angular.min.js"></script>
  <script src="todo.js"></script>
  <script src="../underscore.js"></script>
  
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="main group" ng-controller="TodoCtrl">
    <section class="todos">
      <h2 class="title">Total Todos: {{getTotalTodos()}}</h2>
      <h4>{{getRemainingTodos()}} todos remaining...</h4>
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
    
      <form class="form-horizontal">
        <input type="text" ng-model="formTodoText" placeholder="Add a new todo item...">
        <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
      </form>
    
      <button class="btn-danger btn" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
    </section>
    
    <section class="cleared">
      <h2 class="title">Cleared Todos: {{getClearedTodos()}}</h2>

      <ul class="unstyled">
        <li ng-repeat="todo in cleared">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
    
      <button class="btn-primary btn" ng-click="resetList()"><i class="icon-plus"></i>Reset</button>
    </section>
  </div>
</body>
</html>