.group:after {
  content: "";
  display: block;
  clear: both;
}

.title {
  line-height: 35px;
  margin: 0;
}

.main {
  width: 720px;
  margin: 30px auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  background: rgba(230, 230, 230, 1);
}

.todos {
  float: left;
  margin: 25px;
  padding: 0 20px;
  border-right: 1px solid lightgray;
}

.cleared {
  float: left;
  margin: 25px;
}

.done-true {
  text-decoration: line-through;
  color: gray;
}